<div class="card v-100 shadow mb-5">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Accounts</h5>
      <fa-icon icon="plus"></fa-icon>
    </div>
    <app-account-row [account]="acc" (click)="s.activeAccount = acc" *ngFor="let acc of s.accounts"></app-account-row>

    <div class="account-row d-flex justify-content-between align-items-center py-4">
      <div>&nbsp;</div>
      <div class="balance">{{total | currency : 'EUR'}}</div>
    </div>
  </div>

</div>
