<div class="account-row d-flex justify-content-between align-items-center py-2" *ngFor="let entry of account.transactions">
  <div>
    {{entry.description}}<br />
    <small class="text-white">{{entry.created | date : 'dd/LL/yyyy HH:mm' }}</small>
  </div>
  <div class="text-right">
    <span class="balance" [class.text-danger]="entry.type == 'd'">
      <span>{{entry.type == 'c' ? '+' : '-'}}</span>
      <span>{{entry.amount | currency : 'EUR'}}</span>
      <br />
    </span>
    <small class="font-weight-lighter">{{entry.postBalance | currency : 'EUR'}}</small>
  </div>
</div>

<div class="d-flex justify-content-end align-items-center py-2">
  <div class="totals mr-3">Balance</div>
  <div class="totals">{{account.balance | currency : 'EUR'}}</div>
</div>
