<form [formGroup]="form" (submit)="submit()">

  <div class="row gutter-2">
    <div class="col-12 col-sm-6 py-1">
      <label for="lodge-description">Description</label>
      <input autocomplete="off" id="lodge-description" type="text" class="form-control" formControlName="description" placeholder="(optional)">
    </div>

    <div class="col-12 col-sm-6 py-1">
      <label for="lodge-amount">Amount</label>
      <input autocomplete="off" id="lodge-amount" type="text" class="form-control" formControlName="amount" placeholder="0.00">
    </div>

    <div class="col-12 py-3">
      <button type="submit" class="btn btn-outline-light" [class.disabled]="form.invalid">
        <fa-icon icon="euro-sign" class="mr-1"></fa-icon>
        Lodge
      </button>
      <span (click)="close()" class="btn btn-link text-danger">Cancel</span>
    </div>
  </div>

</form>
