@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';

*{
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  min-height: 100vh;
  /* background: linear-gradient(to top right, #1FA2FF 10%, #12D8FA 65%, #A6FFCB 125%) no-repeat; */
  background: linear-gradient(to top right, #89e28c 10%, #d2fcd7 65%, #f5f7e0 125%) no-repeat fixed;
  background-color: #89e28c;
  padding-bottom: 3rem;
}

.account-row .balance, .totals{
  font-weight: 300;
  font-size: 1.5rem;
}

h5 + fa-icon{
  font-size: 1.5rem;
}

.clickable{
  cursor: pointer;
}


.card.card-green{
  background-color: #8fbc8f;
  color: white;
  border-color: rgba(0,0,0,.125);
}

.gutter-2.row {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.card{
  border-color: #8fbc8f;
}
