/* You can add global styles to this file, and also import other style files */
body{
  min-height: 100vh;
  /* background: linear-gradient(to top right, #1FA2FF 10%, #12D8FA 65%, #A6FFCB 125%) no-repeat; */
  background: linear-gradient(to top right, #89e28c 10%, #d2fcd7 65%, #f5f7e0 125%) no-repeat fixed;
  background-color: #89e28c;
  padding-bottom: 3rem;
}

.account-row .balance, .totals{
  font-weight: 200;
  font-size: 1.5rem;
}

h5 + fa-icon{
  font-size: 1.5rem;
}
